@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


.main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: calc(100vh - 5rem);
    width: 100%;
}

.UploadLayout {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #3F3D56;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.innerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 3rem 0 0 3rem;


}

.qr {
    height: 12rem;
    aspect-ratio: 1;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    margin: 3rem 0 0 3rem;
}

.qr img {
    height: 100%;
    width: 100%;
}

.innerRight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.upper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Heading {
    color: #e7ffff;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    width: 58%;
    letter-spacing: 0.25rem;
    margin-bottom: 2rem;
}

.title {
    color: #FFFFFF;
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
}

.title>span {
    vertical-align: middle;
    margin-right: 1rem;
}

.Icon {
    font-size: 2rem;
}

.lower {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30%;
}

.upperLeft {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 3rem;
}

.size {
    color: #ededed;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.ownerName {
    color: #dddddd;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

.ownerName>span {
    vertical-align: middle;
    margin-right: 1rem;
}

.upperRight {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem;
}

.filetitle {
    font-size: 1.2rem;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}

.filetitle span {
    margin-left: 0.5rem;
}

.filesize {
    font-size: 1rem;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    margin-top: 0.5rem;
}

.deletediv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: #f73a3a;
    border-radius: 1rem;
    margin-left: 1.8rem;
}

.sharediv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin-left: 2rem;
    transition: transform 0.2s ease-in-out;
}

.downloaddiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-height: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    background-color: #ffffff;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    color: #2b2b2b;
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-left: 3.4rem;
    transition: all 0.2s ease-in-out;
}

.downloaddiv div {
    margin: 0 0 0 0.1rem;
}

.mainHeading {
    text-align: left;
    width: 45%;
    color: #ffffff;
    font-size: 0.5rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
}

.mainHeading span {
    color: aliceblue;
    font-size: 0.1rem;
}

.notfoundmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.mainerrheading {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.passboxMain {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3D56;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    opacity: 1;
}

.passcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 13rem;
    border-radius: 1rem;
    background-color: transparent;
}

.passHeading {
    font-size: 1.3rem;
    color: #e7ffff;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1.5rem;

}

.passButtons {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.download {
    background-color: #FFFFFF;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    width: 45%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.cancel {
    background-color: #ffffff;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    width: 45%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin-left: 1rem;
    transition: transform 0.2s ease-in-out;
}


.download:hover,
.cancel:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.sharediv:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.downloaddiv:hover {
    background-color: #3F3D56;
    color: #dddddd;
    border: 1px solid white;
    cursor: pointer;
}

.FileInfoDiv {
    text-align: left;
    width: 45%;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
}

.pass_box input {
    width: 100%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border: none;
    text-align: left;
    padding: 1rem;
    color: black;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 4rem;
}

.pass_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin: 1rem 0 0 0;
}

.show_pass {
    box-sizing: border-box;
    display: grid;
    place-content: center;
    width: 20%;
    font-size: 2rem;
    min-height: 4rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: #ffffff;
}

.pass_box input:focus {
    outline: none;
}

.loader {
    width: 30px;
    aspect-ratio: 1;
    border: 5px solid #FFF;
    border-bottom-color: #292929;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.linkBox {
    background-color: #3f3d56;
    border: 1px solid rgba(255, 255, 255, 0.114);
    height: 4rem;
    width: inherit;
    border-radius: 15rem;
    position: relative;
    margin: 2rem 0 0 3rem;
}

.linkCopy {
    background-color: #514e6f;
    aspect-ratio: 1;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15rem;
    border: 1px solid rgba(128, 128, 128, 0.308);
    display: grid;
    place-items: center;
    transition: all 0.2s ease-in-out;
}

.linkCopy:hover {
    background-color: #65628a;
    cursor: pointer;
}

.linkText {
    color: aliceblue;
    font-size: 1.3rem;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    width: 100%;
}

.shareTxt {
    color: #ffffff;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: 1.5rem 0 0 3.6rem;

}

.buttonDiv {
    width: 100%;
}

.lock {
    margin-left: 0.5rem;
}

.ownerName1 {
    display: none;
}

@media only screen and (max-width: 800px) {
    .passboxMain {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3F3D56;
        height: 100vh;
        width: 100%;
        z-index: 1000;
        opacity: 1;
    }

    .passcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        border-radius: 1rem;
        background-color: transparent;
    }

    .passHeading {
        font-size: 1.3rem;
        color: #e7ffff;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1.5rem;

    }

    .passButtons {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .download {
        background-color: #FFFFFF;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        width: 100%;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        transition: transform 0.2s ease-in-out;
    }

    .cancel {
        background-color: #ffffff;
        color: black;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        width: 100%;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        margin-left: 0rem;
        margin-top: 1rem;
        transition: transform 0.2s ease-in-out;
    }

    .pass_box input {
        width: 100%;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
        border: none;
        text-align: left;
        padding: 1rem;
        color: black;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        min-height: 4rem;
    }

    .pass_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: 1rem 0 0 0;
    }

    .UploadLayout {
        width: 90%;
        height: 55svh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #3F3D56;
        border-radius: 1rem;
    }

    .innerLeft {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 3rem;
        margin-left: 0rem;
    }

    .qr {
        height: 15rem;
        aspect-ratio: 1;
        background-color: aliceblue;
        border-radius: 0.5rem;
        padding: 1rem;
        overflow: hidden;
        margin: 1rem 0 0 0;
    }

    .qr img {
        height: 100%;
        width: 100%;
    }

    .innerRight {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-top: 2rem;
    }

    .upper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .lower {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 1rem;
        padding: 1rem;
    }

    .Icon {
        font-size: 2rem;
    }

    .upperLeft {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1rem;
        margin: 0;
        width: 100%;
    }

    .upperRight {
        width: 77%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 1rem;
    }

    .filetitle {
        font-size: 1.2rem;
        color: aliceblue;
        font-family: "Montserrat", sans-serif;
    }

    .filetitle span {
        margin-left: 0.5rem;
    }

    .filesize {
        font-size: 1rem;
        color: aliceblue;
        font-family: "Montserrat", sans-serif;
        margin-top: 0.5rem;
    }

    img {
        pointer-events: none;
    }

    .deletediv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 70%;
        background-color: #f73a3a;
        border-radius: 1rem;
        margin-left: 0rem;
    }

    .sharediv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 30%;
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin-left: 0rem;
        transition: transform 0.2s ease-in-out;
    }

    .downloaddiv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        font-size: 1.2rem;
        color: rgb(43, 43, 43);
        font-family: "Montserrat", sans-serif;
        margin-left: 1rem;
        transition: transform 0.2s ease-in-out;
    }

    .downloaddiv div {
        margin: 0 0 0 0.5rem;
    }

    .mainHeading {
        text-align: center;
        width: 90%;
        color: #ffffff;
        font-size: 1.9rem;
        font-family: "Montserrat", sans-serif;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .mainHeading span {
        color: aliceblue;
        font-size: 0.9rem;
    }

    .notfoundmain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    .mainerrheading {
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .FileInfoDiv {
        text-align: center;
        width: 90%;
        color: #ffffff;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        margin-top: 1rem;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 5rem);
        width: 100%;
    }

    .UploadLayout {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: #3F3D56;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .Heading {
        color: #e7ffff;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        letter-spacing: 0.25rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .title {
        color: #FFFFFF;
        font-size: 1.3rem;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        text-align: left;
    }

    .linkBox {
        background-color: #3f3d56;
        border: 1px solid rgba(255, 255, 255, 0.114);
        height: 4rem;
        width: 100%;
        border-radius: 15rem;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .linkCopy {
        background-color: #514e6f;
        aspect-ratio: 1;
        height: 100%;
        width: 16%;
        border-radius: 15rem;
        border: 1px solid rgba(128, 128, 128, 0.308);
        display: grid;
        place-items: center;
        transition: all 0.2s ease-in-out;
    }

    .linkCopy:hover {
        background-color: #65628a;
        cursor: pointer;
    }

    .linkText {
        color: aliceblue;
        font-size: 1.1rem;
        height: 100%;
        font-family: "Montserrat", sans-serif;
        padding: 1rem;
        width: 80%;
        overflow: hidden;
    }

    .downloaddiv {
        width: 80%;
        margin: auto;
    }

    .shareTxt {
        color: #ffffff;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        margin: 1.5rem 0 1.5rem 0;
        text-align: center;

    }

    .ownerName {
        color: #dddddd;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 0.5rem;
        display: none;
    }

    .ownerName>span {
        vertical-align: middle;
        margin-right: 1rem;
    }

    .ownerName1 {
        color: #dddddd;
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 0.5rem;
        width: 100%;
        margin-top: 1rem;
        display: block;
    }

    .ownerName1>span {
        vertical-align: middle;
        margin-right: 1rem;
    }
}