@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.main {
  width: 100%;
  min-height: 20rem;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20rem;
  width: 70%;
  padding: 1rem;
}

.left h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5rem;
}

.right {
  min-height: 20rem;
  width: 30%;
  padding: 1rem;
}

.linkItem {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid rgb(53, 53, 53);
  padding: 1rem 1rem 1rem 0;
  margin: 1rem;
  color: black;
  transition: all ease-in-out 0.2s;
  font-size: 1.3rem;
}

.linkItem:hover {
  color: #3856ff;
  cursor: pointer;
}

.title {
  font-size: 1.3rem;
  font-family: "Monteserrat", sans-serif;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
    min-height: 20rem;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .right {
    min-height: 20rem;
    width: 100%;
    padding: 1rem;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 15rem;
    width: 100%;
    padding: 1rem;
  }
}